# Tuples

In [2]:
''' A tuple is an immutable list of values. Tuples are one of Python's simplest and most common collection types, and
can be created with the comma operator (value = 1, 2, 3).
'''

# Syntactically, a tuple is a comma-separated list of values:
t = 'a', 'b', 'c', 'd', 'e'

# Although not necessary, it is common to enclose tuples in parentheses:
u = ('a', 'b', 'c', 'd', 'e')

In [3]:
#Create an empty tuple with parentheses:
t0 = ()
type(t0) # <type 'tuple'>

tuple

In [4]:
# To create a tuple with a single element, you have to include a final comma:
t1 = 'a',
type(t1) # <type 'tuple'>

tuple

In [5]:
# Note that a single value in parentheses is not a tuple:
t2 = ('a')
type(t2) # <type 'str'>

str

In [6]:
# To create a singleton tuple it is necessary to have a trailing comma.
t2 = ('a',)
type(t2) # <type 'tuple'>

tuple

In [7]:
# Another way to create a tuple is the built-in function tuple.
t = tuple('lupins')
print(t) # ('l', 'u', 'p', 'i', 'n', 's')
t = tuple(range(3))
print(t) # (0, 1, 2)

('l', 'u', 'p', 'i', 'n', 's')
(0, 1, 2)

In [9]:
# Tuples are immutable
t = (1, 4, 9)
t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [11]:
'''Accessing elements of tuple:
We can access either by index or by slice operator
'''
# 1. By using index:

t=(10,20,30,40,50,60) 
print(t[0]) #10 
print(t[-1]) #60 
#print(t[100]) IndexError: tuple index out of range

10
60

In [12]:
# 2. By using slice operator:

t=(10,20,30,40,50,60) 
print(t[2:5]) 
print(t[2:100]) 
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

### Mathematical operators for tuple:
- We can apply + and * operators for tuple

In [13]:

#1. Concatenation Operator(+):
t1=(10,20,30) 
t2=(40,50,60) 
t3=t1+t2 
print(t3) # (10,20,30,40,50,60

(10, 20, 30, 40, 50, 60)

In [14]:
# 2. Multiplication operator or repetition operator(*)
t1=(10,20,30) 
t2=t1*3 
print(t2) #(10,20,30,10,20,30,10,20,30)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [16]:
'''
1. len()
 To return number of elements present in the tuple
'''
t=(10,20,30,40)
print(len(t)) #4

4

In [18]:
'''2. count()
 To return number of occurrences of given element in the tuple
'''
t=(10,20,10,10,20)
print(t.count(10)) #3

3

In [20]:
'''3. index()
 returns index of first occurrence of the given element.
 If the specified element is not available then we will get ValueError.
'''
t=(10,20,10,10,20)
print(t.index(10)) #0
#print(t.index(30)) ValueError: tuple.index(x): x not in tuple

0

In [21]:
'''
4. sorted()
 To sort elements based on default natural sorting order
'''
t=(40,10,30,20) 
t1=sorted(t) 
print(t1) 
print(t)

[10, 20, 30, 40]
(40, 10, 30, 20)

In [22]:
'''
5. min() and max() functions:
These functions return min and max values according to default natural sorting order.
'''
t=(40,10,30,20) 
print(min(t)) #10 
print(max(t)) #40

10
40

In [25]:
'''
Tuple Packing and Unpacking:

We can create a tuple by packing a group of variables.
'''
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t) #(10, 20, 30, 40)
#Here a,b,c,d are packed into a tuple t. This is nothing but tuple packing.

(10, 20, 30, 40)

In [26]:
'''
Tuple unpacking is the reverse process of tuple packing
We can unpack a tuple and assign its values to different variables
'''
t=(10,20,30,40) 
a,b,c,d=t 
print("a=",a,"b=",b,"c=",c,"d=",d)

a= 10 b= 20 c= 30 d= 40

In [29]:
#. Write a program to take a tuple of numbers from the keyboard and print its sum and average?

t=eval(input("Enter Tuple of Numbers:")) #10,20,30,40,50,60
l=len(t) 
sum=0 
for x in t: 
    sum=sum+x 
print("The Sum=",sum) 
print("The Average=",sum/l)

The Sum= 210
The Average= 35.0